a{
    width:150px;
    height:50px;
    color:white;
    background-color:black;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

a:hover{
    width:150px;
    height:50px;
    color:black;
    background-color:white;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

#header{
    width:100%;
    height:205px;
    background-color:firebrick;
}

#link{
    width:100%;
    height:75px;
    background-color:black;
}

#content{
    width:100%;
    height:550px;
    background-color:lightgrey;
}

#footer{
    width:100%;
    height:150px;
    background-color:grey;
}

body{
    margin: 0px;
}

